body{
  margin-top: 8%;
  margin-bottom: 8%;
}

nav{
  border-bottom: 2px solid black;
}

.container{
  display: block !important;
  text-align: center;
}

main{
  text-align: center;
}

main h2{
  margin:0;
  padding:1%;
  font-weight:bold;
  font-size: 270%;
  color: black;
  box-shadow: 10px 10px 15px gray;
}

.project-container h2{
  font-weight:bold;
  font-size: 270%;
  color: black;
  text-transform: uppercase;
}

.profile-photo{
  border: 3px solid black;
  border-radius: 300px;
}

.project-container{
  padding:1%;
  border: 2px solid black;
}

.project-container h3{
  color:black;
  font-weight:bold;
  border: 2px solid black;
  border-radius: 6px;
  margin: 0 auto;
  font-size: 2em;
  width: 30%;
  overflow: hidden;
}

.project-container p{
  color:black;
}

.project-container ul{
  margin-right: 3%;
  /* list-style-type: none; */
}

footer{
  text-align: center;
  padding: .5%;
  border-top: 2px solid black;
}

i{
  color:black;
}
