body{
  margin-top: 5%;
}

.container{
  display: block !important;
  text-align: center;
}

i{
  color:black;
}

main{
  text-align: center;
}

.profile-photo{
  border-radius: 300px;
}

footer{
  text-align: center;
  padding: 1%;
}
